* {font-family: 'Play', sans-serif;user-select: none; scroll-behavior: smooth}

/*SectionOne*/
.section-one {
    background-image: url("../../assets/img/wood.jpg");
    object-fit: fill;
    position: relative;
    padding: 150px 0;
}

.hotSale {
    border-radius: 50%;
    background: crimson;
    height: 100px;
    width: 100px;
    color: white;
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
}

@media screen and (max-width: 750px) {
    #items-wood {
        flex-flow: column;
    }
}
