* {
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
    user-select: none;
    z-index: 2;
}

a {text-decoration: none;}

.phoneNumber {
    font-size: 1.5rem; 
    text-align: right; 
    color: white; 
    display: flex;
    flex-flow: column;
    justify-self: right;
}
.row-h {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    box-sizing: border-box;
    z-index: 2;
}

.overlayBlack {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    width: 100%;
    z-index: 1;
    height: 100%;
}

h2 { margin: 20px 0}

/*colorStart*/
:root {
    --clr-orange: #de8200;
    --clr-red: rgba(255, 0, 51, 0.79);
}
.txt-orange {color: var(--clr-orange);}
.txt-red {color: var(--clr-red);}

/*ColorsEnd*/

/*headerStart*/
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    position: absolute;
    z-index: 5;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header-city {
    font-size: 2.5em;
    color: #ffd600;
}


/*headerEnd*/
/*GeneralSection*/
section {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: relative;
}

/*GeneralSectionEnd*/
/*SectionOne*/
.section-one {
    background-image: url("https://via.placeholder.com/100");
    background-position: center;
    object-fit: cover;
    position: relative;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.section-one-img img {
    max-width: 250px;
    width: 100%;
}

.section-one-info {
    display: flex;
    justify-content: center;
    flex-flow: column;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.section-one-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}

.section-one-btn {
    padding: 10px 20px;
    color: #fff;
    border: 1px solid var(--clr-red);
    border-radius: 50px;
    background: black;
    width: 100%;
    max-width: 300px;
    font-size: 24px;
    text-align: center;
    align-self: center;
    margin: 50px 0;
}

.section-one-btn:hover {
    color: black;
    background-color: white;
    transition: 500ms;
}

/*SectionOneEnd*/
/*SectionTwo*/
#section2 {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-red);
    position: relative;
    background-image: url("https://via.placeholder.com/300");
}
.section-two {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.section-two-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 150px;
    height: 150px;
    /*background: white;*/
    /*box-shadow: inset 2px 2px 48px -1px;*/
}
.section-two-item-title {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.section-two-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hotSale {
    border-radius: 50%;
    background: crimson;
    height: 100px;
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px;
    color: white;
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 20px;
}
/*SectionTwoEND*/
/*SectionThree*/
#section3 {background-color: #efefef; border-bottom: 1px solid #000;
    display: flex;justify-content: center;align-items: center;flex-flow: column wrap;}
.section-three {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    flex-flow: column;
    align-items: center;
}

.service-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
    position: relative;
}

.service-box img {
    max-width: 300px;
    width: 100%;
}

.service-box-item {
    display: flex;
    flex-flow: column nowrap;
    max-width: 350px;
    width: 100%;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    margin: 10px 0;
    position: relative;
    border: 1px solid transparent;
}

.service-box-item:hover {
    cursor: pointer;
    border: 1px solid grey;
}

.item-title {text-align: center}
/*SectionThreeEnd*/
/*SectionFour*/
#section4 {background-color: #b0b0b0; align-items: center; background-image: url("https://via.placeholder.com/300");
    display: flex; width: 100%; flex-flow: column wrap}
#section4 h2 {color: white;}
.section4-block-info {width: 100%;display: flex; justify-content: space-between;align-items: center;margin: 20px auto;}
/*SectionFourEnd*/

.aydiev-mansur {
    color: #fff;
    margin-bottom: 10px;
}

@media (max-width: 780px) { 
    .section-one-intro {
        flex-flow: column;
        text-align: center;
    }
    .section-one-info {
        margin-bottom: 20px;
    }

    .service-box {
        flex-flow: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header p {
        font-size: 1.5rem;
    }

    .phoneNumber {
        font-size: 1rem;
    }

    .phoneNumber span {
        color: gold;
    }

    .section-two-item-img {
        display: none;
    }

    .section-one-btn {
        max-width: 200px;
        font-size: 1.2rem;
    }
 }
