* {
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
    user-select: none;
}
.z-indexUP{z-index: 5}
.row-h {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.overlayBlack {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

h2 { margin: 20px 0}

/*normalize*/
/*colorStart*/
:root {
    --clr-orange: #de8200;
    --clr-red: rgba(220, 20, 60, 0.79);
}

.txt-orange {
    color: var(--clr-orange)
}

.txt-red {
    color: var(--clr-red)
}

/*ColorsEnd*/
/*headerStart*/
header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(23, 23, 23, 0.49);
    background-color: transparent;
    position: absolute;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/*headerEnd*/
/*GeneralSection*/
section {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: relative;
}

/*GeneralSectionEnd*/
/*SectionOne*/
.section-one {
    background-image: url("/assets/bgSection1.jpg");
    background-position: center;
    object-fit: cover;
    position: relative;
    padding: 250px 0;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.section-one-info {
    display: flex;
    justify-content: center;
    flex-flow: column;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.section-one-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}

.section-one-btn {
    padding: 10px 20px;
    color: #fff;
    border: 1px solid var(--clr-red);
    border-radius: 50px;
    background: black;
    width: 300px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    transition: 500ms;
    align-self: center;
    z-index: 2;
    margin: 50px 0;
}

.section-one-btn:hover {
    color: black;
    background-color: white;
    transition: 500ms;
}

/*SectionOneEnd*/
/*SectionTwo*/
#section2 {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-red);
    position: relative;
    background-image: url("/assets/bgSection2.jpg");
}
.section-two {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.section-two-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 150px;
    height: 150px;
}
.section-two-item-title {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.section-two-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
/*SectionTwoEND*/
/*SectionThree*/
#section3 {background-color: #efefef; border-bottom: 1px solid rgba(23, 23, 23, 0.49);
    display: flex;justify-content: center;align-items: center;flex-flow: column wrap;}
.section-three {
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 135px;
    flex-flow: column;
    align-items: center;
}

.service-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
}

.service-box-item {
    display: flex;
    flex-flow: column nowrap;
    width: 360px;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    margin: 10px 0;
}

.service-box-item:hover {
    cursor: pointer;
    box-shadow: black 1px 1px 20px 1px;
}

.item-title {text-align: center}
/*SectionThreeEnd*/
/*SectionFour*/
a i.im {color:var(--clr-orange); font-size: 64px;}
a i.im-whatsapp {color: #2cb742}
a i.im-paperplane {color:#0084c6;}
a i.im-mail {color: white;}

a i.im:hover {color: white;}
#section4 {background-color: #b0b0b0; align-items: center; background-image: url("/assets/bgFooter.jpg");
    display: flex; width: 100%; flex-flow: column wrap}
#section4 h2 {color: white;}
.section4-block-info {width: 400px;display: gflex; justify-content: space-between;align-items: center;margin: 20px auto;}
/*SectionFourEnd*/